.box1{
    margin: 0;
    margin-bottom:20px ;
}
.state button {
    color: #ccc;
} 

.btn1 {
    /* position: absolute;
    right: 300px; */
    /* float: right; */
    background: rgb(109, 145, 180);
}
.box2{
    padding: 10px;
    border: 1px solid #ccc;
}
.hidden {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header .close {
    margin-left: auto;
}
.date input[type="text"] {
    width: 100%; /* 将输入框的宽度设置为父元素的宽度 */
}


/* 自定义模态框样式 */
.custom-modal-dialog {
  max-width: 400px;/* 设置最大宽度 */
  margin: 1.75rem auto; /* 垂直居中 */
}
.btn-info{
    background: #6c6d6e;
    color: #fff;
}
.btn-default,.btn-active{
    background: #0079FE;
    color: #fff;
}
.btn-default:hover,.btn-active:hover,.btn-info:hover{
opacity: 0.8;
}


.concen{
    position: relative;
    left: 40%;
    /* top: 8px; */
 }
.sl{
    position: relative;
    left: 65%;
    
    /* margin-top: 15px; */
}
 .nameColor{
    color: #0079FE;
}
.navigation{
    /* display: inline-block; */
    float: right;
}
.navigation>.pagination{
    display: inline-block;
    margin: 0 0;
}
.navigation>.pagination a{
margin-right:10px;
} 
.background{
    color: #0079FE;
}
.modal-body {
  padding: 5rem 2rem !important;
}
.modal .modal-header{
background: rgb(223, 220, 220);
}
.orange{
    color: #df8352;
}
.blu{
    color: #0079FE;
}
.red{
       color: #e80d0d;
}