.btn-info{
    background: #0079FE;
    color: #fff;
}
.btn-grey{
    background: #6c6d6e;
    color: #fff;
}
form>div .search-btn{
    background: #0079FE;
    color: #fff;
}
form>div .search-btn:hover{
  background: #0079FE;
    color: #fff;
}
.btn-default,.btn-active{
    background: #0079FE;
    color: #fff;
}
.btn:hover{
opacity: 0.6;
}
.btn-info:hover {
  color: #fff;
  background-color: #6c6d6e;
  border-color: #b3b6b7;
}
.btn-active:hover{
background:#0079FE ;
}
a{
    color:#0079FE;
}
main>div>form>div .dataSearchBox{
    margin-left: 200px;
}
main>div>form>table{
    margin-top: 30px;
    
}
.home>section>main{
    padding: 20px;
}
main>div .table_Box{
    margin-top: 10px;
}
main>div>form>.table_Box{
    padding: 20px 20px 30px;
}
main>div>form>.table_Box>table>caption{
    font-size: 13px;
}
main>div>form>.table_Box>table td{
    font-size: 12px;
}
.glyphicon-pencil:before {
    color: #087fe6;
}
main>div>form>.table_Box>div>span{
    display: inline-block;
    position: relative;
    left: 50%;
    top:0px;
    margin-left: -50px;
}
main>div>form>.table_Box>div>select{
     position: relative;
    left: 50%;
    top:0px;
    margin-left:10%;
}
main>div>form>.table_Box>div>nav{
   float: right;
}
main>div>form>.table_Box>div>nav>ul{
    margin: 0 auto;
}

main>div>form>.table_Box>div>nav>ul .page_Con{
    margin-right: 20px;
}
main>div>form>.table_Box>div>nav a{
    margin: 0 5px;
}
.nameColor{
    color: #0079FE;
}
.modal .form-group .col-sm-3{
    font-weight: 400;
}
.modal .form-padding1{
    padding: 20px 80px 20px;
}
.modal .modal-header{
    background: rgb(215, 215, 215);
}
#signIn .modal-body{
    padding: 30px 30px 60px;
}
.btn-success:hover{
    background-color:rgb(26, 188, 156,0.6);
}
.btn-success{
    background-color: rgba(26, 188, 156);
    width: 70px;
}
.modal-dialog{
    margin: 200px auto;
}
.btn-default{
    background-color: #fff;
    color: #ccc;
    width: 70px;
}
.btn-default:hover{
    outline: none;
    background-color: #fff;
    border-color: rgba(26, 188, 156, 1);
}
#drainModal p{
    margin: 0;
    font-size: 13px;
}
#drainModal .modal-body{
    padding: 40px;
}