.searchName{
    margin-right: 20px;
}
.searchTel{
    margin-right: 180px;
}
th,td{
    text-align: center;
}
.pen{
    font-size: 13px;
    color: rgb(62, 129, 196);
}
.inform{
    margin-right: 20px;
}
.stron{
    font-weight: 700;
}
.bar{
    margin-left: 50%;
}
.navs{
    float: right;

}
.uls{
    margin-top: 0 !important;
}
